<% if resource.errors.any? %>
  <div id="error_explanation">
      <% resource.errors.messages.values.flatten.each do |message| %>
        <div class="alert alert-warning" role="alert">
          <p class="mb-0 font-size-sm text-dark">
          <%= message %>
          </p>
        </div>
      <% end %>
  </div>
<% end %>
