// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Bootstrap functions
@import 'bootstrap/scss/functions';

// Custom variables

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
$font-family-sans-serif: 'Open Sans', sans-serif !default;


// Dashkit variables
@import '../../../vendor/Dashkit-1.4.2/src/assets/scss/dashkit/variables';

// Bootstrap core
@import 'bootstrap/scss/bootstrap';

// Dashkit core
@import '../../../vendor/Dashkit-1.4.2/src/assets/scss/dashkit/dashkit';

// Custom core
.dropdown-toggle::after {
  content: unset;
}
.dropup > .dropdown-toggle::after {
  content: unset;
}
.dropright > .dropdown-toggle::after {
  content: unset;
}
.dropleft > .dropdown-toggle::before {
  content: unset;
}
.navbar-vertical .navbar-nav .nav-link[data-toggle="collapse"]:after {
  content: unset;
}

.avatar-offline {
  .avatar-img {
    mask-image: unset;
  }
}

.avatar:after {
    background-image: unset;
}

.avatar-offline .avatar-img {
  -webkit-mask-image: unset;
          mask-image: unset;
}


.avatar-group .avatar:not(:last-child) {
  -webkit-mask-image: unset;
          mask-image: unset;
}
